.container {
  /*
    If you have a block-level element of a certain width, margin: 0 auto;
    will how you center it inside its parent container.

    See: http://bluerobot.com/web/css/center1.html
  */
  margin: 0 auto;
  width: 600px;
}

body {
  display: inline;
}

.content {
  border-top: solid 1px gray;
  border-right: solid 1px gray;
  border-bottom: solid 1px gray;
  padding-right: 20px;
}

.footer {
  padding-top: 20px;
}

li {
  list-style: none;
  display: inline;
  padding: 0px 5px;
}

nav {
  border-top: solid 1px gray;
}

ul {
  padding-left: 0px;
}